@media (min-width: 769px) {
	body{
		background-image: url(file:../IMG/Fondindex.jpg);
		background-attachment: fixed;	/*-- on fixe le fond pour qu'il ne s'affiche pas plusieurs fois --*/
	}
	
	h1 {
		flex: 0.14;		/*-- on adapte la taille du titre et de l'animation pour cette résolution --*/
	}

	.chatanimation {
		flex: 0.05;
	}
}
/*-- responsive pour ipad --*/

@media ( max-width: 768px) {
	body { 
		background-image: url(file:../IMG/ipad.jpg);
		background-attachment: fixed;	/*-- une partie réduite du fond original --*/
	}
}		/*-- l'animation et le titre sont déjà adapté à cette résolution --*/

/*-- responsive pour S5 --*/

@media ( max-width: 360px) {
	body { 
		background-image: url(file:../IMG/S5.jpg); 
		background-attachment: fixed;	/*-- une partie encore plus réduite du fond original --*/
	}
	
	section ul li { 
		display: none;	/*-- On supprime le déroulement du menu pour alléger l'affichage sur petit écran --*/
	}
	
	iframe { 
		width: 320px; 
		height: 180px;
	}
	
	img { 
		width: 75%; 
		height: 75%;
	}
	
	.chatanimation { 	/*-- pas d'animation sur petit écran --*/
		display: none;
	}
}

/*-- Mise en Page --*/

header { 
	display: flex;
	justify-content: space-between; 	/*-- animation sur la même ligne que le titre --*/
	}

nav {
	display: flex;
}

section { 
	flex: 1; 
	position: relative; 
	text-align: center;
}

section ul { 
	display: none;
	position: relative; 
	text-align: center; 
	list-style-type: none;
	padding: 0px;
}

h1 {
	border-style: groove;
	padding: 5px; width: 240px;
	font-family: batpolice;
}

h2 { 
	color: black; 
	font-family: batpolice;
}

h3 {
	text-align: center; 
	border-style: groove; 
	font-family: batpolice;
}

a { 
	text-decoration: none; 
	color: black;
}

p { 
	color: black;
}

img { 
	border-style: groove;
	border-width: 10px;
}

iframe {
	border-style: none;
}

.retour { 
	border-style: groove; 
	padding: 5px; 
	display: flex; 
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: black;
}

/*-- Souris --*/

h1:hover {
	color: white; 
	background-color: black; 
	transition-duration: 1.5s;
}

h3:hover {
	color: white; 
	background-color: black; 
	transition-duration: 1.5s;
}

a:hover {
	color: white; 
	background-color: black;
	transition-duration: 1.5s;
}

section:hover ul {
	display: block;
}

/*-- Police --*/

@font-face {
	font-family: batpolice;
	src: url('../AUTRE/batmfa.ttf');
}

/*-- Transitions --*/
@media ( min-width: 361px) {	/*-- seulement pour pc et tablette --*/
	img.Bale {
		opacity: 0.2;
		width: 15%;
		transition-property: opacity, width;
		transition-duration: 1.5s;
	}
	img.Bale:hover {
		opacity: 1;
		width: 35%;
	}

	img.Ledger {
		opacity: 0.2;
		width: 15%;
		transition-property: opacity, width;
		transition-duration: 1.5s;
	}
	img.Ledger:hover {
		opacity: 1;
		width: 35%;
	}

	img.Eckhart {
		opacity: 0.2;
		width: 15%;
		transition-property: opacity, width;
		transition-duration: 1.5s;
	}
	img.Eckhart:hover {
		opacity: 1;
		width: 35%;
	}

	img.Gyllenhaal {
		opacity: 0.2;
		width: 15%;
		transition-property: opacity, width;
		transition-duration: 1.5s;
	}
	img.Gyllenhaal:hover {
		opacity: 1;
		width: 35%;
	}

	img.Oldman {
		opacity: 0.2;
		width: 15%;
		transition-property: opacity, width;
		transition-duration: 1.5s;
	}
	img.Oldman:hover {
		opacity: 1;
		width: 35%;
	}

	img.Caine {
		opacity: 0.2;
		width: 15%;
		transition-property: opacity, width;
		transition-duration: 1.5s;
	}
	img.Caine:hover {
		opacity: 1;
		width: 35%;
	}

	img.Freeman {
		opacity: 0.2;
		width: 15%;
		transition-property: opacity, width;
		transition-duration: 1.5s;
	}
	img.Freeman:hover {
		opacity: 1;
		width: 35%;
	}
}
/*-- Animations --*/
	
@keyframes chatanimation {
	0% {
		transform: scale(1) rotateZ(0);
	}
	50% {
		transform: scale(2) rotateZ(180deg);
	}
	100% {
		transform: scale(1) rotateZ(360deg); 
	}
}
.chatanimation {
		animation: chatanimation 1.75s linear infinite both;
		border-style: none;
		margin-right: 50px;
	}

